*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    color: rgba(5, 5, 241, 0.877)
}
/*
*    {
    outline: 1px solid red;    
}
*/
html {
    font-family: Arial, "Trebuchet MS", Tahoma, sans-serif;
    padding: 30px 40px 30px;
    background-color: powderblue
}

h1   {
    font-family: Arial, "Trebuchet MS", Tahoma, sans-serif;
    font-size: 32px;
    padding: 20px 180px;
    text-decoration-line: underline;
    color: rgb(52, 29, 116);
}
   
li {
    padding: 5px 5px;
    margin: 5px;
    color: rgb(45, 45, 236);

}
