html {
    box-sizing: border-box;
    font-family: Arial, "Trebuchet MS", Tahoma, sans-serif;
    padding: 30px 40px;
    background-color: powderblue
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1   {
    font-size: 2rem;
    padding: 20px 180px;
    text-decoration-line: underline;
    color: rgb(52, 29, 116);
    text-align: center;
}

a {
    color: rgba(5, 5, 241, 0.877)
}
   
li {
    padding: 5px 5px;
    margin: 5px;
    color: rgb(45, 45, 236);
}

.cheeseburger {
    background-color: powderblue; 
}

.image-container { 
     float: right;
     margin-right: 20px;
}

.link {
    font-size: 12px;
    text-align: right;   
}

h3 {
    margin: 20px 20px;
    text-decoration: underline;
    color: rgb(52, 29, 116);
}

p {
    color: rgb(52, 29, 116);
    padding: 0 5px;
}

